<body>
  <div class="container">
    <div class="page-header">
      <h1>Peace Coffee Member Add New Products</h1>            
    </div>

    <h4>Add A New Coffee Product</h4> 
    <p>Here you can add specialty products available only to you for purchase.</p>
    <br><br>

    <div id="addProductDiv">
      <form class="addProduct" data-id="{{id}}">
        <div class="form-row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="pname">Product Name:</label>
              <input class="form-control" type="text" id="pname">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="pounds">Pounds:</label>
              <input class="form-control" type="text" id="pounds">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="pname">Price Per Pound:</label>
              <input class="form-control" type="text" id="pppound">
            </div>
          </div>
        </div>
    
        <button type ="button" class="btn btn-members text-white" id="addProduct-button">Add Product!</button></span><br><br>

      </form>
    </div>
  </div>

  <!-- Custom scripts for signup -->
  <script type="text/javascript" src="../../assets/js/addProduct.js"></script>

</body>