<div class="container">
  <div class="page-header">
    <h1>Peace Coffee Member Orders</h1>

  </div>
  <h4>Welcome to the Peace Coffee Member Orders page.</h4>
  <p>Here you will find a list of available products for purchace by Peace Coffee Co-Op members. </p>
  <hr>
  <div class="dropdown show">
    <form class="order">

      <div class="form-group">
        <label for="mId">Member ID</label>
        <input class="form-control" type="text" id="mId" value={{products.0.User.id}} readonly>
      </div>
      <div class="form-group">
        <table class="table">
          <thead>
            <th scope="col">Product ID</th>
            <th scope="col">Product</th>
            <th scope="col">Price Per Pound</th>
            <th scope="col">Pounds</th>
          </thead>
          <tbody>
            {{#each products}} {{> product-block}} {{/each}}
          </tbody>
        </table>
      </div>
      <button type="button" id="order-button" data-id="{{products.0.User.id}}" class="btn btn-members orderButton">Submit</button>
      <br>
      <br>
  </div>
</div>
</div>

<!-- Custom scripts for signup -->
<script src="../../assets/js/orderProduct.js"></script>